body {
  background-color: #eee;
}

.App {
  margin: 0 auto;
  justify-content: center;
  align-items: stretch;
  min-width: 750px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.solution {
  margin-bottom: 150px;
}

.solution h1 {
  font-size: 32px;
  color: #666;
  padding: 25px;
}

.solution h1 span {
  margin-left: 20px;
  font-weight: 200;
}