body {
  margin: 100px;
}

.App {
  margin: 0 auto;
  justify-content: center;
  align-items: stretch;
  min-width: 700px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.solution {
  margin-bottom: 40px;
}